.controlsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
  margin-bottom: var(--space-4);
}

.group {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.subGroup {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.center svg {
  transform-origin: center;
}

.jiggle:hover {
  animation: jiggle 0.6s ease-in-out infinite;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spinOnce {
  animation: spin 0.6s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.button {
  box-sizing: border-box;
  min-width: 28px;
  min-height: 28px;
  padding: var(--space-1) var(--space-2);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  line-height: 1;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-muted);
  color: var(--color-text);
  cursor: pointer;
  appearance: none;
}
.button:hover {
  background-color: var(--color-bg);
}

.buttonIcon {
  width: var(--space-3);
  height: var(--space-3);
}

.buttonMinus,
.buttonPlus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.buttonMinus {
  border-right: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.buttonPlus {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
