.tooltip {
  padding: 8px 10px;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  color: var(--color-text);
  max-width: 240px;
  box-shadow: 0px 0px 20px rgb(from var(--color-text) r g b / 50%);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  margin-bottom: var(--space-1);
}

.date {
  white-space: nowrap;
}

.separator {
  height: 1px;
  margin: var(--space-1) 0 var(--space-2);
  background-color: var(--color-border);
  opacity: 0.7;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-3);
  padding-bottom: var(--space-3);
  border: 1px dashed var(--color-border);
  border-radius: var(--border-radius);
}

.rowLeft {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.calendar {
  color: var(--line-default);
}

.bullet {
  min-width: var(--space-3);
  aspect-ratio: 1;
  background-color: var(--color-text);
  border-radius: 50%;
}

.name {
  opacity: 0.85;
}

.value {
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}
