#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  width: 100%;
  padding: var(--page-padding-y) var(--page-padding-x);
}

.chart-container {
  width: 100%;
  min-width: 600px;
  max-width: var(--container-max);
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .chart-container {
    max-width: var(--container-max-mobile);
  }
}
